@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  /* text-transform: capitalize; */
  transition: all 0.2s linear;
}
*::selection {
  background: var(--golden);
  color: #333;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1.4rem;
}

html::-webkit-scrollbar-track {
  background: #222;
}

html::-webkit-scrollbar-thumb {
  background: rgb(198, 3, 3);
}
body {
  background: #111;
  overflow-x: hidden;
  /* padding-left: 35rem; */
}
section {
  min-height: 45rem;
  margin: 5rem 0;
  padding: 1rem;
}
.heading {
  text-align: center;
  padding-top: 5rem;
  color: #fff;
}
.heading h1 {
  font-size: 5rem;
}
.heading h1 span {
  color: rgb(198, 3, 3);
}
.heading p {
  font-size: 2rem;
}
.section .box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
  /* padding-left: 3rem; */
}
.section .box .images {
  width: 35rem;
  height: 25.5rem;
  margin: 4rem 3rem;
  background: #222;
  border-radius: 1rem;
  /* padding-bottom: 0.5rem; */
  position: relative;
  object-fit: cover;
  border: 0.7rem solid rgb(220, 45, 45);
}
.section .box .images img {
  max-width: 100%;
  border-radius: 1rem;
  /* object-fit: cover; */
}
.section .box .images h3 {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  margin: 2rem;
}
.bullet {
  /* display: flex; */
  align-items: center;
  max-width: 110rem;
  justify-content: center;
  flex-wrap: wrap;
  margin: 4rem auto;
  background: #222;
  border-left: 2rem solid rgb(220, 45, 45);
  padding: 1rem;
  border-radius: 3rem;
  /* padding-left: 3rem; */
  color: #fff;
}

.bullet .details h1 {
  text-align: center;
  margin: 4rem 0;
  font-size: 1.2rem;
  font-weight: normal;
}
.bullet .technology .live-site {
  text-decoration: none;
  color: blue;
}

.bullet .technology h3 {
  padding: 0 3rem;
  font-size: 1.5rem;
}
.bullet .technology h3 span {
  font-weight: normal;
}
.bullet .technology .point {
  padding: 4rem;
  font-size: 1.5rem;
}
/* header .navbar ul {
  list-style: none;
  padding: 1rem 3rem;
} */

.bullet .technology .btn a {
  width: 20rem;
  text-align: center;
  display: block;
  padding: 0.8rem;
  margin: 1.5rem auto;
  background: #333;
  color: #fff;
  font-size: 2rem;
  border-radius: 1rem;
}
.bullet .technology .btn a:hover {
  background: rgb(220, 45, 45);
}

/* ----media queries------ */

@media (max-width: 768px) {
  .bullet {
    margin: 2rem;
  }
}
